# Visual Studio Solution and Project files
*.sln
*.suo
*.user
*.userprefs
*.vspscc
*.vssscc
*.scc
*.tmp
*.cache

# Bin and Obj folders
**/bin/**
**/obj/**

# User specific files
.vs/

# Log files
*.log